@charset "UTF-8";
body {
  background-image: url(https://i.pinimg.com/564x/82/cc/f2/82ccf2552f8c5f579802c8c4bee1c43d.jpg);
}

/*header*/
.head-container .bg-body-tertiary {
  background-image: url(https://i.pinimg.com/564x/82/cc/f2/82ccf2552f8c5f579802c8c4bee1c43d.jpg);
}
.head-container .bg-body-tertiary .navbar-brand {
  width: 80px;
}
.head-container .bg-body-tertiary .navbar-brand img {
  width: 100%;
  border-radius: 25%;
}
.head-container .bg-body-tertiary .navbar-nav a {
  color: white;
  font-weight: 600;
}

/*archivo index*/
/*main*/
.title-principal {
  display: flex;
  justify-content: center;
  font-family: brandon-grotesque, sans-serif;
  color: white;
  margin: 15px;
}

.gym-picture img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title-h3 {
  font-family: cursive;
  margin-bottom: 40px;
  margin-top: 25px;
  color: white;
}

.online-shop {
  display: flex;
  justify-content: space-between;
}
.online-shop .picture-shop {
  width: 250px;
}
.online-shop .picture-shop img {
  width: 100%;
}
.online-shop .picture-shop p {
  display: flex;
  justify-content: center;
  margin: 15px;
  color: white;
  font-family: cursive;
}

.activities-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.activities-info .activities-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activities-info .activities-picture img {
  width: 220px;
}
.activities-info .activities-picture .button {
  display: block;
  border-radius: 50px;
  margin: 5px;
}
.activities-info .activities-picture .button a {
  text-decoration: none;
  color: black;
}
.activities-info .activities-picture .button:hover {
  background-color: gray;
}

/*archivo activities*/
.container .col-md-6 {
  text-align: center;
}
.container .col-md-6 img {
  width: 250px;
}
.container .col-md-6 p {
  color: white;
  font-family: cursive;
}
.container .col-md-6 .collapse-toggle .button-description {
  border-radius: 50px;
  margin: 5px;
}
.container .col-md-6 .collapse-toggle .button-description:hover {
  background-color: gray;
  color: white;
}

/*archivo us*/
.tamaño img {
  width: 100%;
}
.tamaño p {
  color: white;
  font-family: cursive;
}

.derecha {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.derecha img {
  max-width: 50%;
  height: auto;
}

.izquierda {
  display: flex;
  align-items: center;
}
.izquierda img {
  max-width: 40%;
  margin-right: 10px;
}

/*
.picture-horizontal {
        width: 550px;
        @include flex-center;
        img {
            width: 100%;
    }
}

.text-gym {
    margin: 20px;
    p {
        width: 50%;
        color: white;
        font-family: cursive;
    }
}
.picture-vertical {
    width: 100%;
    display: flex;
    img {
        width: 350px;
    }
    p {
        width: 50%;
        align-self: center;
        margin-left: 30px;
        color: white;
        font-family: cursive;
    }
}
*/
/*footer*/
.footer-container {
  background-image: url(https://i.pinimg.com/564x/86/25/79/862579752e579d12446db86c3a15a18f.jpg);
}
.footer-container p {
  font-family: cursive;
  color: white;
  margin: 10px;
  margin-top: 10px;
}
.footer-container .footer-img a {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer-container .footer-img a img {
  width: 2%;
  display: flex;
  justify-content: end;
  margin: 3px;
}

/*medias queries*/
/*Desktop*/
@media only screen and (min-width: 961px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
}
/*Tablet*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
  .navbar-brand img {
    border-radius: 50%;
  }
  .picture-vertical {
    display: block;
  }
  .picture-vertical p {
    margin: 20px;
  }
  .activities-info {
    display: flex;
    flex-direction: column;
  }
  .tamaño {
    flex-direction: column;
    max-width: 100%;
  }
  .izquierda {
    margin: 20px;
  }
  .izquierda img {
    max-width: 50%;
  }
  .derecha {
    align-items: center;
  }
  .derecha img {
    max-width: 70%;
  }
}
/*Mobile*/
@media only screen and (max-width: 500px) {
  .navbar-brand img {
    border-radius: 100%;
  }
  .activities-info {
    display: flex;
    flex-direction: column;
  }
  .picture-vertical {
    display: block;
  }
  .picture-vertical p {
    margin: 20px;
  }
  .tamaño {
    flex-direction: column;
    max-width: 100%;
  }
  .derecha {
    align-items: center;
  }
  .derecha img {
    max-width: 70%;
  }
  .izquierda {
    margin: 20px;
  }
  .izquierda img {
    max-width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
