/*archivo index*/
/*main*/
.primary-container {
    .title-principal {
        display: flex;
        justify-content: center;
        font-family: brandon-grotesque, sans-serif;
        color: white;
    }
    .gym-picture {
        width: 100%;
        /*width: 900px;*/
        .gym-picture img {
            width: 100%;
            max-height: 600px;
        }
    }
    .title-h3 {
        font-family: cursive;
        margin-bottom: 40px;
        margin-top: 25px;
        color: white;
    }
}

.online-shop {
    display: flex;
    justify-content: space-between;
    .picture-shop {
        width: 250px;
        img {
            width: 100%;
        }
        .picture-shop p {
            display: flex;
            justify-content: center;
            margin: 10px;
            color: white;
        }
    }
}

.activities-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .activities-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        .activities-picture img {
            width: 220px;
        }
        .activities-picture button {
            display: block;
            border-radius: 50px;
            .button a {
                text-decoration: none;
                color: black;
            }
            &:hover {
                background-color: gray;
            }
        }
    }
}

/*archivo activities*/
.container {
    .col-md-6 {
        text-align: center;
        .col-md-6 img {
            width: 250px;
        }
        .collapse-toggle .button-description {
            border-radius: 50px;
            &:hover {
                background-color: gray;
                color: white;
            }
        }
    }
}

/*archivo us*/
.horizontal {
    .picture-horizontal {
        width: 100%;
        display: flex;
        justify-content: center;
        .picture-horizontal img {
            width: 600px;
        }
    }
    .text-gym {
        display: flex;
        justify-content: center;
        .text-gym p {
            width: 50%;
            color: white;
        }
    }
}
.vertical {
    .picture-vertical {
        width: 100%;
        display: flex;
        .picture-vertical img {
            width: 350px;
        }
        .picture-vertical p {
            width: 50%;
            align-self: center;
            margin-left: 20px;
        }
    }
}