/*archivo index*/
/*main*/
.title-principal {
    @include flex-center;
    font-family: brandon-grotesque, sans-serif;
    color: white;
    margin: 15px;
}
.gym-picture {
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}
.title-h3 {
    font-family: cursive;
    margin-bottom: 40px;
    margin-top: 25px;
    color: white;
}
.online-shop {
    display: flex;
    justify-content: space-between;
    .picture-shop {
        width: 250px;
        img {
            width: 100%;
        }
        p {
            @include flex-center;
            margin: 15px;
            color: white;
            font-family: cursive;
        }
    }
}
.activities-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .activities-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 220px;
        }
        .button {
            display: block;
            border-radius: 50px;
            margin: 5px;
            a {
                text-decoration: none;
                color: black;
            }
            &:hover {
                background-color: gray;
            }
        }
    }
}
/*archivo activities*/
.container {
    .col-md-6 {
        text-align: center;
        img {
            width: 250px;
        }
        p {
            color: white;
            font-family: cursive;
        }
        .collapse-toggle .button-description {
            border-radius: 50px;
            margin: 5px;
            &:hover {
                background-color: gray;
                color: white;
            }
        }
    }
}
/*archivo us*/
.picture-horizontal {
    width: 100%;
    @include flex-center;
    img {
        width: 500px;
    }
}
.text-gym {
    @include flex-center;
    margin: 20px;
    p {
        width: 50%;
        color: white;
        font-family: cursive;
    }
}
.picture-vertical {
    width: 100%;
    display: flex;
    img {
        width: 350px;
    }
    p {
        width: 50%;
        align-self: center;
        margin-left: 30px;
        color: white;
        font-family: cursive;
    }
}
