/*footer*/
.footer-container {
    background-image: url(https://i.pinimg.com/564x/86/25/79/862579752e579d12446db86c3a15a18f.jpg);
    p {
        font-family: cursive;
        color: white;
        margin: 10px;
        margin-top: 10px;
    }
    .footer-img {
        a {
            display: flex;
            flex-direction: column;
            align-items: end;
            
            img {
                width: 2%;
                display: flex;
                justify-content: end;
                margin: 3px;
            }
        }
    }
}