//Maps (sass)
$rrss: (
    instagram: #de4964,
    facebook: #304980,
    twitter: #00aced,
);

//   redes      colors
@each $redes, $colors in $rrss {
    .m-#{$redes} {
        color: $colors;
    }
}

//Maps-GET ($map, $key)
$estilos: (
    primary: #efe57d,
    secondary: #efe435,
    tercero: #00faba,
);

.title-principal {
    color: map-get($estilos, primary);
}