.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    width: 100%;
    margin: 20px auto;
    height: 500px;
    grid-template-areas: 
    "header header header"
    "main-content main-content main-content"
    "footer footer footer";
    ;
}
.header {
    grid-area: header;
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
}
.main-content {
    grid-area: main-content;
    background-color: rgb(19, 112, 112);
    color: white;
    padding: 10px;
}
.footer {
    grid-area: footer;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    text-align: center;
}

/*Media Query*/

@media screen and (max-width: 500px) {
    body {
        background-color: chartreuse;
    }
}
